.all-recipe{
    font-family: "Unica One", serif;
    margin: 5vh 15vh 5vh 40vh;
}

.all-recipe > h1{
    text-align: center;
    margin-right: 3em;
}

.search-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar > h1{
    width: 23%;
}

#header-search{
    width: 45%;
    box-sizing: border-box;
    padding: 12px 20px 12px 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: url('../RecipeList/searchicon.png');
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: left 5px bottom 5px;
}

.flex{
    display: flex;
    align-items: center;
}

.icons{
    margin-bottom: 5px;
    margin-left: 20px;
}

.recipe-card{
    margin-bottom: 1em;
}

.recipe-row span{
    font-size: medium;
    color: white;
}

.browseTile {
  border: 3px solid #0d6efd;
  border-radius: 30px;
  height: 220px;
  position: relative;
  text-align: center;
}

.tileContent {
  position: absolute;
  top: 50%;
  left:auto;
  transform: translate(0, -50%);
  width: 100%;
  max-height: 220px;
}

.tileInfo {
  color: black !important;
}

.tileImage {
  max-width: 100%;
  height: auto;
  max-height: 100px;
}