<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rice Bowl Receipe</title>
  </head>
  <body>
    <!-- We shall design our pages template here -->
    <h1 style="text-align: center">Rice Bowl</h1>

    <div class="vertical-menu">
      <a href="#" class="homePage">Home</a>
      <a href="#">Browse</a>
      <a href="#">Calendar</a>
      <a href="/auth/google">Log In</a>
      <a href="/auth/logout">Log out</a>
    </div>

    <p>body body test</p>
  </body>
</html>
