@font-face{
  font-family: 'Hokuto';
  src: local('Hokuto'), local('Hokuto, Regular'), url('Hokuto.otf');
}


.center {
  height: 250px;
  left: 50%;
  margin-top: -125px;
  margin-left: -125px;
  position: absolute;
  top: 50%;
  width: 350px;
}

.align-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-name {
  font-family: 'Hokuto';
  font-size: 50px;
  color: #1c94fc;
  padding-left: 15px;  
}

.btn{
  margin-left: 30%;
}