@import url('https://fonts.googleapis.com/css?family=Unica+One&display=swap');

.Form {
  margin-left: 280px;
  /* text-align-last: center; */
}
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}

/* .upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
  float: right;
}
 */
