@import url('https://fonts.googleapis.com/css?family=Unica+One&display=swap');

.Form {
  margin-left: 280px;
  display: flex;
  justify-content: center;
  min-width: 670px;
  margin-bottom: 40px;
}

.new-recipes-title {
  text-align: center;
}

.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 190px;
  margin-right: 8px;
}

.uploadButton {
  margin-left: 15px;
}


.inputBox,
.inputArea {
  width: 650px;
}
.inputBox {
  height: 40px;
}
.inputArea {
  min-height: 100px !important;
}
#ingredientsId {
  height: 130px;
}

.inputArea::-webkit-scrollbar {
  width: 10px;
}

.inputArea::-webkit-scrollbar-thumb {
  background-color: #dfe6eb; 
  border-radius: 20px;     
}

.inputNumber {
  width: 70px;
  float: right;
}

#numLabel {
  width: 170px;
}

.col {
  width: 0px;
}

.numClass {
  margin: 15px 0px 0px 10px !important;
}

label {
  color: #1c94fc;
  /* margin-top: 15px; */
  font-size: 18px;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 500;
}

.image {
  width: 100%;
}

.hidden {
  display: flex;
  align-items: baseline;
}

.checkBox {
  margin-left: 15px;
  /* font-size: 100px; */
  transform: scale(1.3)
}

.Submit {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
  width: 200px;
  height: 50px;
  margin: auto;
  display: block;
}