.all-recipe{
    font-family: "Unica One", serif;
    margin: 5vh 15vh 5vh 40vh;
}

.all-recipe > h1{
    text-align: center;
    margin-right: 3em;
}

form{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#drp-btn{
    margin-left: -45ex;
    margin-right: 40ex;
}

#header-search{
    width: 45%;
    box-sizing: border-box;
    padding: 12px 20px 12px 45px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: url('searchicon.png');
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: left 5px bottom 5px;
}

.flex{
    display: flex;
    align-items: center;
}

.icons{
    margin-bottom: 5px;
    margin-left: 20px;
}

.recipe-card{
    margin-bottom: 1em;
}

.recipe-row span{
    font-size: medium;
    color: white;
}

.span{
    font-size: large;
    color: black;
    margin-left: 25vh;
    margin-right: 25px;
}

#btn{
    margin-left: 25px;
    margin-right: 35vh;
}

ul{
    list-style-type: circle;
}

li{
    font-size: medium;
}

.supported-web{
    margin-left: 25vh;
}