.all-recipe{
    font-family: "Unica One", serif;
}

.search-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

input[type=text]{
    width: 40%;
    box-sizing: border-box;
    padding: 12px 20px 12px 45px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-image: url('searchicon.png');
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: left 5px bottom 5px;
}


.Button{
    margin-right: 10px;
}

h1{
    margin-top: 20px;
    margin-left: 20px;
}
