* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
}

h1 {
  font-size: 40px;
  font-family: 'Unica One', cursive;
  padding-top: 20px;
  margin-bottom: 0;
}

.slide img {
  width: auto !important;
  height: 400px;
}

.thumb img,
.thumb {
  height: 75px;
  width: auto !important;
}

.thumb.selected,
.thumb:hover {
  border-color: #1c94fc !important;
}

.carousel-root {
  margin-left: -20px !important;
  padding-top: 20px;
}

.legend {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.TitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Slogan {
  font-family: 'Abel', sans-serif;
  font-size: 25px;
  margin: 0;
  line-height: 25px;
}
.underDivider {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  align-items: flex-start;
}
/* .editContainer {
    padding-right: 30px;
    font-size: 5px;
    cursor: pointer;
} */

.bottomContainer {
  display: flex;
}

.leftContainer {
  max-width: 350px;
  padding-left: 30px;
  margin-right: 10px;
  /* background-color: blue; */
}

.rightContainer {
  padding-left: 30px;
}


.circleIcon:hover,
.circleButton:hover {
  color: #1c94fc !important;
}

.subHeader {
  font-size: 30px;
  font-family: 'Unica One', cursive;
  /* margin-bottom: 0px !important; */
  margin-top: 10px;
  /* padding-bottom: 40px; */
}

.ServingAmt {
  font-family: 'Abel', sans-serif;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.Ratings {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.ReviewAmt {
  padding-left: 10px;
  font-family: 'Abel', sans-serif;
  font-size: 15px;
}

.foodList {
  font-family: 'Abel', sans-serif;
  font-size: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.IngredientList {
  padding-top: 15px;
  padding-bottom: 40px;
}

.Timer {
  display: flex;
}

.TimeName {
  text-transform: uppercase;
  font-size: 25px;
  display: flex;
  align-items: center;
  font-family: 'Unica One', cursive;
  margin-right: 30px;
}

.TimeNumber {
  font-size: 20px;
  padding-left: 10px;
  text-transform: lowercase;
}

.directionContainer {
  display: flex;
  padding-bottom: 15px;
  max-width: 1500px;
}

.stepContent {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}
.stepNumber {
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
  color: #1c94fc;
  margin-right: 30px;
  font-family: 'Catamaran', sans-serif;
}
.pdfButtonClass {
  color:#1c94fc;
  margin-bottom:100;
}

.pdfButtonClass:disabled {
  color: grey;
}