@font-face{
    font-family: 'Hokuto';
    src: local('Hokuto'), local('Hokuto, Regular'), url('Hokuto.otf');
}

.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0.5em;
    margin-bottom: 2em;
    background-color: #FFD1B7;
    color: white;
    font-family: "Hokuto", Times, serif;
    font-size: large;
}

.Title > h1{
    padding-right: 0.3em;
}